body{
  background-color:white;
}


/* Nav Bar */
.navbar{
  background-color: #6185f8;
  position:relative;
  bottom:2rem;
  height:4rem;
  color:#F5F5F5;
  width:100%;
}

.title{
  position:relative;
  text-align: center;
  font-size:3em;
  text-decoration:underline;
}


.homeBtn{
  display:inline-block;
  position:relative;
  bottom:3em;
  left:2em;
  text-decoration:none;
  color:black;
  border:2px solid;
  background-color:#F5F5F5;
  padding:.5em;
}

.homeBtn:hover{
  background-color:#eeaf36;
  transform:scale(1.2);
  transition:transform 1s ease-in-out;
}

.login{
  display:inline-block;
  position:relative;
  left:75em;
  bottom:3em;
  text-decoration:none;
  color:black;
  border:2px solid;
  background-color:#F5F5F5;
  padding:.5em;
  box-shadow:5px 5px 10px;
}

.login:hover{
  background-color:#eeaf36;
  transform:scale(1.2);
  transition:transform 1s ease-in-out;
  box-shadow:20px 20x 20px;
}

/* Home Page */
.newsSection{
  position:relative;
  left:20em;
  top:1em;
  max-width:50em;
  display:grid;
  grid-template-rows:auto auto;
}


.news{
  text-align: center;
  border:1px solid;
  max-width:50em;
  margin:-1em;
  padding:1em;
  color:black;
  font-size:1em;
  background-color:#6185f8;
}

.newsP{
  max-width:50em;
  height:5em;
  color:black;
  text-align:center;
  background-color:#F5F5F5;
}

.homeLinks{
  display:grid;
  grid-template-columns: 10em 10em;
  justify-content: center;
  margin-top:10em;
  grid-gap:20em;
}


.links{
  display:flex;
  color:black;
  text-decoration:none;
  border:2px solid;
  padding:1em;
  background-color:white;
}

.links:hover{
  background-color:#eeaf36;
  transform:scale(1.2);
  transition:transform 1s ease-in-out;
  box-shadow:20px 20x 20px;
}

.links__tools{
  max-width:5em;
  grid-column:2/2;
}

.links__categories{
  max-width:7em;
  grid-column:1/1;
}


/* Category Page */
.categoryItem{
  text-decoration: none;
  color:black;
  border:2px solid;
  width:10em;
  padding:.5em;
  height:10em;
  max-height:1em;
  overflow:hidden;
  background-color:white;
  font-size:1.5em;
}

.categoryItem:hover{
  overflow: visible;
  max-height:none;
  background-color:#eeaf36;
}

.category{
  display:grid;
  justify-content: center;
  position:relative;
  top:5em;
  grid-template-columns: auto auto auto auto;
  grid-template-rows:auto auto auto;
  grid-gap:5em;
}

#categoryDescription{
  color:white;
}

.categoryTools{
  display:flex;
  position:relative;
  left:68.5em;
  color:black;
  font-size:1.1em;
  text-decoration:none;
  border:2px solid;
  padding:.5em;
  background-color:white;
  max-width:4.5em;
}

.categoryTools:hover{
  background-color:#eeaf36;
  transform:scale(1.2);
  transition:transform 1s ease-in-out;
  box-shadow:20px 20x 20px;
}

/*  Tools Page */


.toolsHeader{
  color:white;
  text-align:center;
}

.toolsContainer{
  display:grid;
  grid-template: 20em 20em 20em 20em;
  justify-content: center;
  grid-gap:1em;
}
.column{
  border:1px solid;
  border-color:white;
  padding:3em;
  border-radius:2em;
  background-color:grey;
}

.column h1{
  text-decoration:underline;
}

.column__column1{
  color:white;
  grid-column-start: 1;
}

.column__column2{
  color:white;
  grid-column-start:2;
}

.column__column3{
  color:white;
  grid-column-start:3;
}

.column__column4{
  color:white;
  grid-column-start:4;
}

.itemList{
  width:100%;
  padding-left:0em;
}

.itemList li{
  list-style:none;
  padding:1em;
  text-align:center;
}

.itemList a{
  text-decoration: none;
  color:white;
  font-size:20px;
}

.price{
  text-align:center;
}

.popupBtn{
  font-size:20px;
  border-radius:50%;
  background-color:rgb(180,180,180,.2);
  color:white;
}

.modelingPop{
  display:inline;
  margin-left:1em;
}

.modelingPopBody{
  background-color:rgb(0,0,0,.8);
  height:40em;
  width:40em;
  border:1px solid;
  color:white;
  border-radius:1em;
}

.modelingContent{
  text-align:center;
}

/* Login Page */
.loginContainer{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.loginSubmit{
  position: absolute;
  left: 50%;
  top: 120%;
  transform: translate(-50%, -50%);
}

.submitBtn{
  font-size:24px;
  border-radius:.2em;
  padding:6px;
}

.loginForm{
  background-color:white;
  justify-content: center;
}

.loginContainer label{
  font-size:20px;
}

.loginContainer input{
  padding:.5em;
}

.userName{
  margin-bottom:2em;
}

.test{
  color:white;
}
